<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="sections edit">
  <h2>Edit Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>

  <%= render(:partial => "shared/sec/form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Section") %>
    </div>

  <% end %>
</div>